@charset "utf-8";

/* 영어 폰트 지정 */
@font-face{
  font-family:'Josefin Sans';
  src:url('../font/JosefinSans-VariableFont_wght.ttf');
  font-weight: bold;
  unicode-range: U+0041-005A, U+0061-007A
}
/* 영어 폰트 지정 */

/* 숫자 폰트 지정 */
@font-face{
  font-family:'NotoNastaliqUrdu';
  src:url('../font/NotoNastaliqUrdu-VariableFont_wght.ttf');
  unicode-range:  U+0030-0039, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}
/* 숫자 폰트 지정 */

/* 한글 폰트 지정 */
@font-face{
  font-family:'Do Hyeon';
  src:url('../font/DoHyeon-Regular.ttf');
  unicode-range: U+AC00-D7A3;
}

@font-face{
  font-family:'Sunflower';
  src:url('../font/Sunflower-Medium.ttf');
  unicode-range: U+AC00-D7A3;
}
/* 한글 폰트 지정 */

html, body {
  height: 100%
}

.main{
  position: relative;
  min-height:calc(100% - 200px);
  padding-top: 30px;
}

.contentArea{
  min-height: 100%;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .blog-header{
    padding: 5% 0 5% 0;
  }

  .blog-header-logo {
    font-style: italic;
    font-size: 3.25rem;
    text-decoration: none;
    text-shadow: 3px 4px #6e9dd6;
    margin: 0;
  }

.text-dark {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-dark-rgb),var(--bs-text-opacity))!important;
  font-family: 'NotoNastaliqUrdu', 'Josefin Sans', 'Sunflower';
}

.blog-pagination {
  margin-bottom: 4rem;
}

.blog-footer {
  padding: 1.5rem 0;
  width: 100%;
  color: #727272;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 0.05rem solid #e5e5e5;
  min-height: 15%;
}

.blog-footer > p:first-child{
  margin-top: 10px;
}

.iconArea{
  background-color: whitesmoke;
  display: table;
  table-layout:fixed;
}
.iconArea > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}

.moveOverFrame > img{
  width: 30px;
}

.popArea{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.iFrameArea {
  position: absolute;
  z-index: 10;
  top: 5%;
  left: 15%;
  width: 70%;
  height: 90%;
}

.backDark{
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
}

.iconAreaWrap{
  top: 80%;
  padding-bottom: 35%;
}

.clanName{
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(88, 138, 88);
  display: inline-block;
}

.contentBox{
  position: relative;
}

.btn-group-vertical{
  position: absolute;
  top: 0;
  right: 0;
}

.mainContent > .contentBox:nth-child(1){
  min-height: 120px;
}

.mainContent > .contentBox:nth-child(2), .contentBox:nth-child(3){
  min-height: 200px;
}

.mainContent > .contentBox:nth-child(4){
  min-height: 400px;
}

.btn-group-sm > button{
  width: 107px !important;
}

iframe, .strContent:not(:first-child){
  display: none;
}

.timeSec{
  display: inline-block;
  margin-left: 20px;
}

.contentBox > .px-4{
  font-size: 1.25rem;
  text-align: center;
}
.contentBox > .text-center{
  font-size: 1.5rem;
}

.table{
  width: 78%;
  margin: auto;
  border: transparent;
  font-size: 17px;
}

th, td {
  text-align: left;
}

.mainBack, .headerBack, .blog-footer{
  background-color: whitesmoke;
}

#timeUmbra{
  display: inline-block;
}
